default:
    extensions:
      Nubeiro\EntityManagerAwareContext\Extension:
        dbal:
            connections:
                pbiz_users:
                    driver: pdo_mysql
                    host: localhost
                    dbname: blog
                    user: blog_user
                    password: blog_pass
                pbiz_datas:
                    driver: pdo_mysql
                    host: localhost
                    dbname: statistics
                    user: statistics_user
                    password: statistics_pass
        orm:
            entity_managers:
                blog:
                    connection: blog_user
                    mappings:
                        %paths.base%/orm/yml/Blog/Entities: 'Blog\Entities'
                statistics:
                    connection: statistics
                    mappings:
                        %paths.base%/orm/yml/Statistics/Entities/: 'Statistics\Entities'
    suites:
        default:
          path: %paths.base%/features
          contexts: [Nubeiro\EntityManagerAwareContext\Context\EntityManagerContext]
